@model ZergTracker.Models.ViewModels.TicketViewModel
@{
    Layout = null;
}



    <li class="nav-item">
        <a data-toggle="modal" data-target="#addTicket" class="nav-link" style="cursor: pointer">
            <i class="nav-icon fas fa-plus"></i>
            <p>
                Add Issue
            </p>
        </a>
    </li>


<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="addTicket">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Please Select A Project To Add Issue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Tickets", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    @Html.DropDownListFor(p => p.ProjectId, null, new { @class = "form-control"})
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Add Issue" class="btn btn-primary" style="color: white;" />
                </div>
            }
            </div>
    </div>
</div>
