@{
    ViewBag.Title = "Reset password confirmation";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Zerg Tracker</a></li>
                    <li class="breadcrumb-item active">Reset Password Confirmation</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="content-wrapper">
    <div class="custom-container">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
