  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Zerg Tracker</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <!-- small box -->
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>15</h3>

                            <p>Projects</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-project-diagram"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            Summary <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <!-- /box -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>62</h3>

                            <p>Issues</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-clipboard-list"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            Summary <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <!-- /box -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>22</h3>

                            <p>Personnel</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-friends"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            Summary <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <!-- /box -->
                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->

            <!-- Next row here-->

        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div><!-- End view wrapper / view -->