@model IEnumerable<ZergTracker.Models.Project>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Zerg Tracker</a></li>
                    <li class="breadcrumb-item active">Projects</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="content-wrapper">
    <div class="custom-container padded-top">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">All Projects</h3>
                <div class="btn-group float-right">
                    @Html.ActionLink("New Project", "Create", null, new { @class = "btn bg-gradient-indigo btn-sm" })

                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                    {
                        @Html.ActionLink("My Projects", "Index", "Projects", new { @class = "btn bg-gradient-cyan btn-sm" })
                    }
                </div>
            </div>
            <div class="card-body">
                <table id="proj" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Project(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <p>
                                        @item.Name
                                    </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!-- DataTables -->
    <script src="~/assets/js/jquery.dataTables.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $("#proj").DataTable();
        });
    </script>
}
